<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Service Bus Explorer</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/lib/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" asp-append-version="true">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" asp-append-version="true">

    <link href="~/lib/sbadmin/css/sb-admin-2.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/lib/bootstrap-toastr/toastr.css" rel="stylesheet" asp-append-version="true" />

    <link href="~/css/ladda.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/layout.css" rel="stylesheet" asp-append-version="true" />

    @RenderSection("styles", required: false)
</head>

<body id="page-top" class="sidebar-toggled">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index","Home")">
                <div class="sidebar-brand-icon">
                    <img class="fas img-fluid" src="~/img/azure-queue-icon.png" />
                </div>
                @*<div class="sidebar-brand-text mx-3">ServiceBus<sup>v1</sup></div>*@
            </a>
            <!-- Divider -->
            <hr class="sidebar-divider my-0">
            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <!-- Nav Item - Logout -->
            <li class="nav-item">
                <a class="nav-link" href="/Logout">
                    <i class="fas fa-fw fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- Title -->
                    <div class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <h1 class="h3 mb-0 text-gray-800">@ViewBag.Title</h1>
                    </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <!-- Nav Item - Connect Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link" href="/Logout" role="button">
                                <span class="mr-2 d-none d-lg-inline text-gray-600"> Logout</span>
                                <i class="fa fa-sign-out-alt"></i>
                            </a>
                        </li>
                        @*<div class="topbar-divider d-none d-sm-block"></div>*@
                    </ul>
                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>

                @*<div id="wait" class="ui-loader"><img src='~/img/loading-animation.gif' width="64" height="64" /><br><span style="color:#0685BF">Reloading..</span></div>*@

                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            <!-- Modals -->
            @RenderSection("modals", required: false)
            <!-- End of Modals -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container-fluid my-auto">
                    <div class="copyright text-center my-auto row">
                        <span class="fa-pull-left text-left w-25">© @DateTime.Now.Year <a href="https://osmkoc.com" target="_blank">osmkoc.com</a></span>
                        <span class="fa-pull-right text-right w-75">v1</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top" style="display: none;">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/sbadmin/vendor/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/lib/sbadmin/vendor/jquery-easing/jquery.easing.min.js" asp-append-version="true"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/lib/sbadmin/js/sb-admin-2.min.js" asp-append-version="true"></script>

    <script src="~/lib/bootstrap-toastr/toastr.min.js" asp-append-version="true"></script>

    <script src="~/js/ladda.min.js" asp-append-version="true"></script>

    <script src="~/js/layout.js" asp-append-version="true"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
