@page
@model ServiceBusWeb.Pages.ErrorModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Service Bus Explorer - Hata</title>
    <!-- Custom fonts for this template-->
    <link href="~/lib/sbadmin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="~/lib/sbadmin/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body>
    <div class="wrapper" style="margin-top: 200px;">
        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="Hata">Oops..</div>
            <p class="lead text-gray-800 mb-5">
                @if (!string.IsNullOrEmpty(Model.ErrorStatusCode))
                {
                    <strong>@Model.ErrorStatusCode</strong>
                }
                else
                {
                    <span> Hata oluştu.</span>
                }
            </p>

            <p class="lead text-gray-800 mb-5"><strong>İşleminiz gerçekleştirilirken bir hata oluştu.</strong> </p>
            <br />
            @if (Model.ShowReferrer)
            {
                <h3>Referrer</h3>
                <p>
                    <a href="@Model.Referrer">@Model.Referrer</a>
                </p>
            }
            @if (@Model.ShowExceptionMessage)
            {
                <h3>Exception Message</h3>
                <p>
                    @Model.ExceptionMessage
                </p>
            }
            <br />
            <br />
            <br />
            <a href="/Home">← Panele geri dön</a>
        </div>

    </div>
    <!-- Bootstrap core JavaScript-->
    <script src="~/lib/sbadmin/vendor/jquery/jquery.min.js"></script>
    <script src="~/lib/sbadmin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/lib/sbadmin/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/lib/sbadmin/js/sb-admin-2.min.js"></script>
</body>
</html>
